Advanced .Net/PROJECT4/Project4Console/Web References/localhost/Loans2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetLoansByCustomer">
        <s:complexType />
      </s:element>
      <s:element name="GetLoansByCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoansByCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSingleCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSingleCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSingleCustomerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLoansByCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoansByCustomer" />
  </wsdl:message>
  <wsdl:message name="GetLoansByCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoansByCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetSingleCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:GetSingleCustomer" />
  </wsdl:message>
  <wsdl:message name="GetSingleCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:GetSingleCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="GetLoansByCustomer">
      <wsdl:input message="tns:GetLoansByCustomerSoapIn" />
      <wsdl:output message="tns:GetLoansByCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSingleCustomer">
      <wsdl:input message="tns:GetSingleCustomerSoapIn" />
      <wsdl:output message="tns:GetSingleCustomerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLoansByCustomer">
      <soap:operation soapAction="http://tempuri.org/GetLoansByCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleCustomer">
      <soap:operation soapAction="http://tempuri.org/GetSingleCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLoansByCustomer">
      <soap12:operation soapAction="http://tempuri.org/GetLoansByCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleCustomer">
      <soap12:operation soapAction="http://tempuri.org/GetSingleCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44354/Loans2.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44354/Loans2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>